# Node modules
node_modules
package-lock.json

# Packaging
bs-darkmode-toggle-*.tgz

# Debug
debug

# Dist
js
!src/main/js
!docs/src/js
css
!docs/src/css

# Logs
*.log

# Cache and config dirs and files
.vscode
.dccache
.DS_Store

# Test
coverage
cypress/videos
cypress/screenshots
cypress/downloads