# Node modules
node_modules
package-lock.json

# Debug
debug

# Dist
js
!src/main/js
!docs/src/js

# Logs
*.log

# Cache and config dirs and files
.vscode
.dccache
.DS_Store

# Test
coverage
cypress/screenshots
