# Node modules
node_modules

# Logs
*.log

# Cache and config dirs and files
.github
.vscode
.dccache
.DS_Store
.prettierrc

# Cypress and testing
test/*
cypress/*
cypress.config.js

# Templates
*.template*
